body, html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.body-background {
  /* Assurez-vous que l'image couvre tout l'écran */
  transition: background-color 0.5s ease-in-out;
  background-color: rgba(255, 255, 224, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Appliquez une hauteur et une largeur de 100% */
  height: 100%;
  width: 100%;
  
  /* Positionnez l'image correctement */
  position: fixed; /* ou 'absolute' si nécessaire */
  top: 0;
  left: 0;
  z-index: -1; /* pour s'assurer qu'elle reste en arrière-plan */
}

.blue-sky-overlay {
  transition: opacity 3s ease-in-out;
  background-color: rgba(153, 196, 210, 0.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  z-index: 15;
}

.mist-overlay {
  transition: opacity 3s ease-in-out;
  position: fixed; /* ou 'absolute' selon le contexte */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  z-index: 10; /* Assurez-vous qu'il soit au-dessus des autres éléments */
}

.night-mist-overlay {
  background-color: rgba(50, 50, 50, 0.9); /* Gris foncé pour la brume de nuit */
}

.blur-effect {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  z-index: 4;
  position: absolute;
  top: 0;
  opacity: 0;
}

.cloud-winter {
  filter: hue-rotate(240deg) brightness(0.7) saturate(1.5);
}

.cloud-day {
  /* Style pour les nuages pendant la journée */
  background-image: url('cloud-day.png');
}

.cloud-night {
  /* Style pour les nuages pendant la nuit */
  background-image: url('cloud-night.png');
  filter: brightness(0.4); /* Assombrir les nuages pour la nuit */
}

.flash-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 224, 0.5);
  z-index: 10; /* Assurez-vous qu'il est au-dessus de tous les autres éléments */
}

.overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 3s ease-in-out; /* Transition sur 3 secondes */
  z-index: 2; /* Au-dessus de l'image de fond mais sous d'autres éléments interactifs */
}

.dawn-dusk-overlay, .night-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 3s ease-in-out; /* Transition sur 3 secondes */
  display: block;
  z-index: 3; /* Au-dessus de l'image de fond mais sous d'autres éléments interactifs */
}

.dawn-dusk-overlay {
  background-color: rgba(255, 165, 0, 0.7); /* Couleur orange pour l'aube/crépuscule */
  opacity: 0; /* Commencez invisible */
}

.night-overlay {
  background-color: rgba(0, 0, 3, 0.9); /* Couleur bleue pour la nuit */
  opacity: 0; /* Commencez invisible */
}

.moon {
  display: none;
  position: fixed;
  top: 40px; /* Ajustez selon vos besoins */
  left: 30%;
  /* transform: translate(-50%, -50%);*/
  width: 150px; /* Taille de la lune */
  height: 150px;
  border-radius: 50%; /* Rend la div circulaire */
  background-image: url("moon_in_night.png"); /* Image de la lune */
  background-size: cover;
  z-index: 5; /* Assurez-vous qu'elle soit au-dessus des autres éléments */
  opacity: 0; /* Commencez complètement transparent */
  transition: opacity 3s ease-in-out;
}

.spring-filter {
  filter: hue-rotate(90deg) saturate(1.0);
}

.summer-filter {
  filter: hue-rotate(90deg) brightness(1.6) saturate(1.5);
}

.autumn-filter {
  filter: brightness(0.9) saturate(1.1) hue-rotate(-20deg);
}

.winter-filter {
  filter: brightness(1.1) saturate(0.5) contrast(1.3);
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.mask-spring {
  background: linear-gradient(to bottom, 
  rgba(255, 255, 255, 0) 0%, 
  rgba(255, 255, 255, 0) 50%, 
  #939f9a 100%);
}

.mask-summer {
  background: linear-gradient(to bottom, 
  rgba(255, 255, 255, 0) 0%, 
  rgba(255, 255, 255, 0) 50%, 
  #95e9ba 100%);
}

.mask-autumn {
  background: linear-gradient(to bottom, 
  rgba(255, 255, 255, 0) 0%, 
  rgba(255, 255, 255, 0) 50%, 
  #9a8e84 100%);
}

.mask-winter {
  background: linear-gradient(to bottom, 
  rgba(255, 255, 255, 0) 0%, 
  rgba(255, 255, 255, 0) 50%, 
  rgba(255, 255, 255, 1) 100%);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Assurez-vous que ce soit au-dessus des particules */
}

.mask, .mask-spring, .mask-summer, .mask-autumn, .mask-winter {
  z-index: 7; /* Au-dessus des particules */
}

.night-mask {
  background: linear-gradient(to bottom, 
  rgba(255, 255, 255, 0) 0%, 
  rgba(255, 255, 255, 0) 50%, 
  rgba(0, 0, 3, 0.9));
  mix-blend-mode: multiply;
}
